<h1>Rock Paper Scissors Game</h1>

Welcome to a game of Rock Paper Scissors!
<br>
Please choose your weapon:
<br>
<a href="/rps_play?weapon=rock">Rock</a>,
<a href="/rps_play?weapon=paper">Paper</a>,or
<a href="/rps_play?weapon=scissors">Scissors</a>